:root {
    --bg-start: #a01e1c;
    --bg-end: #771817;
    --fg-color: rgb(255, 255, 255);
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.nav {
    position: fixed;
    top: -66px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    background: black;
    display: block;
    height: 66px;
    width: 100%;
    display: flex;
    transition: top 1s;
    z-index: 2;
    opacity: 70%;
} 

.nav:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
    left: 0;
    margin-top: 64px;
    transition: 0.5s;
}

.nav:hover:after{
    background-color: rgb(47, 102, 255);
}

.change .nav:after{
    background-color: rgb(47, 102, 255);
}

.logo_text {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 0;
    margin-left:auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}

.logo_text:hover{
    color: rgb(47, 102, 255);
}

.hamburger {
    margin-left: -3%;
    margin-right: 1%;
    justify-self: right;
    align-self: center;
    width: 35px;
    height: 39px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}

.hamburger:hover .bar1, .hamburger:hover .bar2, .hamburger:hover .bar3{
    background-color: rgb(47, 102, 255);
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    background-color: rgb(47, 102, 255);
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    transition: 0s;
    opacity: 0;
}

.change .bar3 {
    background-color: rgb(47, 102, 255);
    transform: translate(0, -11px) rotate(45deg);
}

.menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
}

.menuToggle a {
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
}

.menuToggle a:hover {
    color: rgb(47, 102, 255);
    cursor: pointer;
}

.menuToggle span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;
}

.menu {
    position: absolute;
    width: 300px;
    margin: 16px 0 0 -10px;
    padding: 50px;
    padding-top: 50px;

    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    z-index: 0;

    transition: transform 0.5s;
}

.change .menu {
    transform: translate(-100%);
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

.navigation {
    position:absolute;
    font-family: 'Inter', sans-serif;
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    z-index: 1;
}

.navigation  a{
    margin-top: 2%;
    color: white;
    text-decoration: none;
    position: relative;
    transition: 1s;
    z-index: 1;
}

.navigation  a:hover{
    color: rgb(47, 102, 255);
    cursor: pointer;
    transition: 0.2s;
}

.navigation  a:after{
    content: "";
    position: absolute;
    background-color: rgb(47, 102, 255);
    height: 2px;
    width: 100%;
    left: 0;
    margin-top: 40px;
    transition: 1s;
    opacity: 0%;
}

a:hover:after{
    opacity: 100%;
    transition: 0.2s;
}

.earth {
    position: relative;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 0;
    object-fit: none;
    width: 1920px;
    height: 970px;
    object-position: 20% 30%;

}

.myself {
    font-family: 'Inter', sans-serif;
    position:relative;
    transition: 2s ease;
    -webkit-text-stroke: 1px black;
    
}

.parallax{
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;
}

.parallax .name {
    font-size: 600%;
}

.parallax .name a{
    transition: 5s;
}

.parallax .name a:hover{
    color: rgb(47, 102, 255);
    transition: 0s;
}

.parallax .degree {
    position: relative;
    font-size: 200%;
    left: 0.3%;
}

.play {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.play div{
    position: relative;
    background: black;
    height: 20vh;
    width: 10%;
    transition: 3s;
}

.play div:hover {
    background: white;
    transition: 0.1s;
}

.scroll {
    position: absolute;
    background: rgb(47, 102, 255);
    height: 10px;
    width: 10px;
    margin-left: 98.5%;
    margin-top: 0.3%;
    z-index: 1;
    opacity: 50%;
}

.projects {
    position: relative;
    display: flex;
}

.project {
    font-family: 'Inter', sans-serif;
    position: inherit;
    display: flex;
    background-color: #771817;
    height: 540px;
    width: 50%;
    transition: 1s;
}

.project:hover{
    width: 260%;
    background-color: black;
    transition: 0.2s;
}

.project:hover .languages{
    opacity: 100%;
}

.project .languages{
    margin-top: 48px;
    opacity: 0%;
    transition: 1s;
}

.project .name {
    font-size: 40px;
    position: absolute;
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
    height: 48px;
    justify-content: space-around;
}

.hborder {
    position: relative;
    background-color: black;
    height: 540px;
    width: 0.5%;
}

.section {
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    position: relative;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: -0.2%;
}

.arrow {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.arrow img{
    height: 100px;
    filter: brightness(0) invert(1);
    position: absolute;
    bottom: 0px;
    transition: 2s;
    opacity: 100;
    animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 10%;
    }
    50% {
      bottom: 10vh;
    }
  }